.title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: .8em;
  padding-bottom: 10px;
}

#logo {
  color: #efefef;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -2px;
  padding: 15px 20px 20px 20px;
  font-size: 3em;
  background-color: #E91E63;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

li {
  color: #232323;
  font-family: 'Operator Mono', serif;
  font-style: italic;
  list-style: none;
}

body {
  background-color: #E91E63;
}

.channel-title {
  padding: 10px;
  font-size: 3em;
  letter-spacing: -2px;
}

.video-list {
  color: #232323;
  font-family: 'Roboto Slab', serif;
  width: 80%;
  margin: auto;
  background-color: #e8e8e8;
  padding-bottom: 1px;
}

.vid-entry {
  padding: 10px;
  background: #fdfdfe;
  margin: 9px;
}

.vid-entry:last-child {
  border-bottom: solid 1px #e2e2e2;
}

.button {
  background-color: #03A9F4;
  padding: 2px 4px 3px 4px;
  font-size: 1em;
  float: right;
  margin-left: 10px;
  
}

.button a:hover {
  color: #03A9F4;
}

.button:hover {
  background-color: white;
  color: #03A9F4;
  outline: 1px solid #03A9F4;
  outline-offset: 1px;
}

.button:hover > a {
  color: #03A9F4;
}

/* .button:hover { */
  /* background-color: white; */

.percent {
  background-color: #03A9F4;
  padding: 2px 4px 3px 4px;
  font-size: 1em;
  float: right;
  margin-left: 10px;

  color: white;
  background-color: #ff16cf;
} 

.feed {
  color: #ff16cf;
}

.feed:hover {
  color: #2e7dea;
}

.fa {
  margin-left: 20px;
  margin-right: 3px;
}

.thumb-container {
  overflow: hidden;
  width: 60px;
  height: 33px;
  padding: 0px;
  margin-top: 10px;
}

.thumb-container > img {
  margin-top: -6px;
}

.video-title {
  font-size: .9em;
}