.title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: .8em;
  padding-bottom: 10px;
}

#logo {
  color: #efefef;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -2px;
  padding: 15px 20px 20px 20px;
  font-size: 3em;
  margin-bottom: -20px;
  background-color: #E91E63;
}

a {
  color: white;
  text-decoration: none;
}

/*a:hover {
  color: #ff16cf;
}*/

li {
  color: #232323;
  font-family: 'Operator Mono', serif;
  font-style: italic;
  list-style: none;
}

body {
  background-color: #FFFAF1;
}

.channel-title {
  margin: 30px 20px 15px 20px;
  padding-bottom: 0px;
  font-size: 3em;
  letter-spacing: -2px;
}

.video-list {
  color: #232323;
  font-family: 'Roboto Slab', serif;
  margin-left: 20px;
  width: 80%;
}

.vid-entry {
  border-top: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
  border-right: solid 1px #e2e2e2;
  padding: 10px;
  background: #fdfdfe;
}

.vid-entry:last-child {
  border-bottom: solid 1px #e2e2e2;
}

.button {
  background-color: #03A9F4;
  padding: 2px 4px 3px 4px;
  font-size: 1em;
  float: right;
  margin-left: 10px;
  
}

.button:hover a{
  background-color: white;
  color: #ff16cf;
}

.button:hover {
  background-color: white;
  outline: 1px solid #ff16cf;
  outline-offset: 1px;
}

.percent {
  color: white;
  /* background-color: #ff16cf;
  padding: 2px 4px 3px 4px;
  display: inline-block;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 10px; */
}

.feed {
  color: #ff16cf;
}

.feed:hover {
  color: #2e7dea;
}

.fa {
  margin-left: 20px;
  margin-right: 3px;
}

.thumb-container {
  overflow: hidden;
  width: 60px;
  height: 33px;
  padding: 0px;
  margin-top: 10px;
}

.thumb-container > img {
  margin-top: -6px;
}

.video-title {
  font-size: .9em;
}