.title {
  color: #EA2E49;
  font-family: 'Poppins', sans-serif;
}

li {
  color: #232323;
  font-family: 'Operator Mono', serif;
  font-style: italic;
  list-style: none;
}

body {
  background-color: #FFFAF1;
}

h1 {
  margin-left: 20px;
}

.video-list {
  color: #232323;
  font-family: 'Operator Mono', serif;
  font-style: italic;
  margin-left: 25px;
}