.title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: .8em;
  padding-bottom: 10px;
}

#logo {
  color: #EA2E49;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -2px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 3em;
  margin-bottom: -20px;
}

a {
  color: white;
  text-decoration: none;
}

/*a:hover {
  color: #ff16cf;
}*/

li {
  color: #232323;
  font-family: 'Operator Mono', serif;
  font-style: italic;
  list-style: none;
}

body {
  background-color: #FFFAF1;
}

h1 {
  margin-left: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.video-list {
  color: #232323;
  font-family: 'Roboto Slab', serif;
  margin-left: 20px;
}

.vid-entry {
  margin-bottom: 10px;
}

img {
  border: solid 1px black;
  margin-bottom: -3px;
  margin-right: 8px;
}

.button {
  background-color: #ff16cf;
  padding: 2px 4px 3px 4px;
  display: inline-block;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.button:hover a{
  background-color: white;
  color: #ff16cf;
}

.button:hover {
  background-color: white;
  outline: 1px solid #ff16cf;
  outline-offset: 1px;
}

.percent {
  color: white;
  background-color: #ff16cf;
  padding: 2px 4px 3px 4px;
  display: inline-block;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.feed {
  color: #ff16cf;
}

.fa {
  margin-left: 20px;
  margin-right: 3px;
  color: #ff16cf;
}